* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a,
img,
data,
span,
input,
button,
select,
ion-icon,
textarea {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
}

img {
  height: auto;
}

input,
bu tton,
select,
textarea {
  background: none;
  border: none;
  font: inherit;
}

input,
select,
textarea {
  width: 100%;
  outline: none;
}

button {
  cursor: pointer;
}

body {
  background-color: rgb(22, 23, 24);
  color: rgb(255, 255, 255);
  font-family: "DM Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8rem;
  overflow: hidden;
}

body.loaded {
  overflow: overlay;
}

body.navActive {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(228, 197, 144);
}

.preload {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(228, 197, 144);
  z-index: 5;
  display: grid;
  place-content: center;
  justify-items: center;
  transition: 500ms ease;
}
.preload__circle {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  border: 3px solid rgb(255, 255, 255);
  border-block-start-color: rgb(18, 17, 17);
  margin-block-end: 45px;
  animation: rotate360 1s linear infinite;
}
.preload__text {
  font-size: calc(2rem + 3vw);
  font-weight: 700;
  line-height: 1em;
  background-size: 500%;
  background: linear-gradient(90deg, transparent 0% 16.66%, var(--smoky-black-3) 33.33% 50%, transparent 66.66% 75%);
  text-transform: uppercase;
  letter-spacing: 16px;
  padding-inline-start: 16px;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.5px rgb(20, 21, 21);
  animation: loadingText 2s linear infinite;
}

.preload > * {
  transition: 250ms ease;
}

.preload.loaded > * {
  opacity: 0;
}

.preload.loaded {
  transition-delay: 250ms;
  transform: translateY(100%);
}

@keyframes rotate360 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}
@keyframes loadingText {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}
.nav__list--link--icon {
  content: "";
  width: 8px;
  height: 8px;
  border: 1px solid rgb(228, 197, 144);
  transform: rotate(45deg);
}

.hover__underline {
  position: relative;
  max-width: max-content;
}

.hover__underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  border-block: 1px solid rgb(228, 197, 144);
  transform: scaleX(0.2);
  transition: 500ms ease;
}

.hover__underline:is(:hover, :focus-visible)::after {
  transform: scaleX(1);
  opacity: 1;
}

.btn {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  padding-block: 40px;
  z-index: 2;
  border-block-end: 1px solid transparent;
  transition: 250ms ease;
}
.header__container {
  padding-inline: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.header.active {
  padding-block: 20px;
  background-color: rgb(33, 33, 33);
  border-color: rgba(0, 0, 0, 0.15);
}

.header.hide {
  transform: translateY(-100%);
  transition-delay: 250ms;
}

.nav__openButton {
  padding: 12px;
  padding-inline-end: 0;
}

.nav__openButton .line {
  width: 30px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  margin-block: 4px;
  transform-origin: left;
  animation: menuBtn 400ms ease-in-out alternate infinite;
  color: rgb(255, 255, 255);
}

@keyframes menuBtn {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0.5);
  }
}
.nav__openButton .line-2 {
  animation-delay: 150ms;
}

.nav__openButton .line-3 {
  animation-delay: 300ms;
}

.nav {
  position: fixed;
  background-color: rgb(14, 13, 11);
  top: 0;
  left: -360px;
  bottom: 0;
  max-width: 360px;
  width: 100%;
  padding-inline: 30px;
  padding-block-end: 50px;
  overflow-y: auto;
  visibility: hidden;
  z-index: 1;
  transition: 500ms ease;
}
.nav__list {
  border-block-end: 1px solid rgba(255, 255, 255, 0.2);
  margin-block-end: 100px;
}
.nav__list--item {
  border-block-start: 1px solid rgba(255, 255, 255, 0.2);
}
.nav__list--link {
  position: relative;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding-block: 10px;
  max-width: unset;
}
.nav__list--link::after {
  display: none;
}
.nav__list--link--text {
  transition: 250ms ease;
}

.nav.active {
  visibility: visible;
  transform: translateX(360px);
}

.nav .closeButton {
  color: rgb(255, 255, 255);
  border: 1px solid currentColor;
  padding: 4px;
  border-radius: 50%;
  margin-inline-start: auto;
  margin-block: 30px 20px;
}

.nav .closeButton ion-icon {
  --ionicon-stroke-width: 40px;
}

.nav .closeButton:is(:hover, :focus-visible) {
  color: rgb(228, 197, 144);
}

.nav .logo {
  max-width: max-content;
  margin-inline: auto;
  margin-block-end: 60px;
}

.nav__list--link:is(:hover, :focus-visible, .active) .nav__list--link--text {
  color: rgb(228, 197, 144);
  transform: translateX(20px);
}

.nav__list--link .nav__list--link--icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(45deg);
  opacity: 0;
  transition: 250ms ease;
}

.nav__list--link:is(:hover, :focus-visible, .active) .nav__list--link--icon {
  opacity: 1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  pointer-events: none;
  transition: 500ms ease;
  z-index: 0;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

.text_center {
  text-align: center;
}

.slider-bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__slider--item--title {
  font-family: "Old Standard TT", serif;
  text-transform: uppercase;
  letter-spacing: 0.1px;
  line-height: 35px;
  font-weight: 400;
}

.hero__slider--item--subtitle {
  position: relative;
  color: rgb(228, 197, 144);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  margin-block-end: 12px;
}
.hero__slider--item--subtitle::after {
  content: url(../images/separator.svg);
  display: block;
  width: 100px;
  margin-inline: auto;
  margin-block-start: 5px;
}

.hero__btn {
  position: relative;
  color: rgb(228, 197, 144);
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  max-width: max-content;
  border: 2px solid rgb(228, 197, 144);
  padding: 12px 45px;
  overflow: hidden;
  z-index: 1;
  margin-block-start: 26px;
}
.hero__btn::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 200%;
  height: 200%;
  border-radius: 50%;
  background-color: rgb(228, 197, 144);
  transition: 500ms ease;
  z-index: -1;
}

.hero__btn .text {
  transition: 250ms ease;
}

.hero__btn .text-2 {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  min-width: max-content;
  color: rgb(14, 13, 11);
}

.hero__btn:is(:hover, :focus-visible)::before {
  bottom: -50%;
}

.hero__btn:is(:hover, :focus-visible) .text-1 {
  transform: translateY(-40px);
}

.hero__btn:is(:hover, :focus-visible) .text-2 {
  transform: translate(-50%, -50%);
  top: 50%;
}

.btn__secondary::before {
  background-color: rgb(14, 13, 11);
}

.btn__secondary .text-2 {
  color: rgb(255, 255, 255);
}

.hero .hero__slider--btn--prev {
  display: none;
}

.hero {
  position: relative;
  padding-block: 120px;
  min-height: 100vh;
  overflow: hidden;
  z-index: 1;
}
.hero__slider--item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  padding-block-start: 100px;
  opacity: 0;
  visibility: hidden;
  transition: 1000ms ease;
  z-index: 1;
}
.hero__slider--item.active {
  opacity: 1;
  visibility: visible;
}
.hero__slider--item--subtitle::after {
  margin-block: 14px 20px;
}
.hero__slider--item--text {
  margin-block: 10px 40px;
}
.hero__btn {
  margin-inline: auto;
}
.hero__slider--btn {
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 2;
  background-color: rgb(228, 197, 144);
  width: 160px;
  height: 130px;
  padding: 12px;
  transform: scale(0.6);
}
.hero__slider--btn--img {
  margin-inline: auto;
  margin-block-end: 6px;
}
.hero__slider--btn .span {
  color: rgb(14, 13, 11);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1px;
  line-height: 1em;
}

.hero__slider--btn::after {
  inset: 0;
  border: 1px solid rgb(228, 197, 144);
  animation: rotate360 15seg linear infinite;
}

.hero .slider-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.15);
  pointer-events: none;
  user-select: none;
  z-index: -1;
}

.slider-bg {
  animation: smoothScale 7s linear forwards;
}

@keyframes smoothScale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}
.has-before,
.has-after {
  z-index: 1;
}

.has-before::before,
.has-after::after {
  content: "";
  position: absolute;
}

.slider__reveal {
  transform: translateY(30px);
  opacity: 0;
}

.hero__slider--item.active .slider__reveal {
  animation: slideReveal 1s ease forwards;
}

@keyframes slideReveal {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.hero .hero__slider--item.active .hero__slider--item--subtitle {
  animation-delay: 500ms;
}

.hero .hero__slider--item.active .hero__slider--item--title {
  animation-delay: 1000ms;
}

.hero .hero__slider--item.active .hero__slider--item--text {
  animation-delay: 1.5s;
}

.hero .hero__slider--item.active .hero__btn {
  animation-delay: 2s;
}

.service {
  padding-inline: 16px;
}

.service__container--subtitle {
  position: relative;
  color: rgb(228, 197, 144);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  margin-block-end: 12px;
}
.service__container--subtitle::after {
  content: url(../images/separator.svg);
  display: block;
  width: 100px;
  margin-inline: auto;
  margin-block-start: 5px;
}

.service__container--text {
  margin: 10px 0;
  padding: 15px;
}

.service__container--list--card {
  overflow: hidden;
  margin: 20px 0 30px;
}
.service__container--list--card .has-before {
  padding-block: 30px;
  margin-block-end: 26px;
  z-index: 1;
}
.service__container--list--card .has-before::before {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 140px;
  height: 100%;
  background-image: url(../images/img-pattern.svg);
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  transition: 500ms ease;
  transition-delay: 0;
  z-index: -1;
  will-change: transform;
}
.service__container--list--card .card__banner {
  transition: 500ms ease;
}

.service__container--list--card:is(:hover, :focus-visible) .has-before::before {
  transform: rotateY(0.5turn) translateX(50%);
  transition-delay: 350ms;
}

.service__container--list--card:is(:hover, :focus-visible) .card__banner {
  transform: scale(1.05);
}

.service__container--title {
  font-family: "Zeyada", cursive;
  text-transform: uppercase;
  letter-spacing: 0.1px;
  line-height: 35px;
  font-weight: 400;
}

.section {
  position: relative;
  padding-block: 70px;
  overflow: hidden;
  z-index: 1;
}

.bg-black-10 {
  background-color: rgb(14, 13, 12);
}

.grid-list {
  display: grid;
  gap: 40px;
}

.hover\:shine {
  position: relative;
}
.hover\:shine::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-image: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, 0.4) 100%);
  transform: skewX(-0.08turn) translateX(-180%);
}

.hover\:shine:is(:hover, :focus-within)::after {
  transform: skewX(-0.08turn) translateX(275%);
  transition: 1000ms ease;
}

.img__holder {
  aspect-ratio: 285px 336px;
  overflow: hidden;
  background-color: rgb(33, 33, 33);
}

.btn__text {
  color: rgb(228, 197, 144);
  padding-block-end: 4px;
  margin-inline: auto;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 700;
  transition: 250ms ease;
  padding: 10px 0;
}
.btn__text:is(:hover, :focus-visible) {
  color: rgb(255, 255, 255);
}

.card__title a {
  font-family: "Zeyada", cursive;
  text-transform: uppercase;
  margin: 15px;
  letter-spacing: 0.1px;
}

.about__container {
  display: grid;
  gap: 60px;
}
.about__container--title {
  font-family: "Zeyada", cursive;
  text-transform: uppercase;
  letter-spacing: 0.1px;
  line-height: 35px;
  font-weight: 400;
  padding-top: 15px;
}
.about__container--subtitle {
  position: relative;
  color: rgb(228, 197, 144);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  margin-block-end: 12px;
}
.about__container--subtitle::after {
  content: url(../images/separator.svg);
  display: block;
  width: 100px;
  margin-inline: auto;
  margin-block-start: 5px;
}
.about__container--text {
  margin: 10px 0;
  padding: 15px;
  font-weight: 400;
}
.about__container--banner {
  position: relative;
  margin-block-end: 120px;
}
.about__container--banner > .w-100 {
  padding-inline-start: 50px;
}
.about__container--img {
  position: absolute;
}
.about__container--img ::before {
  z-index: -1;
}
.about .abs-img-1 {
  bottom: -100px;
  left: 0;
  width: 230px;
  padding-block: 70px;
  padding-left: 10px;
}
.about .abs-img-1::before {
  top: 35px;
  bottom: 0;
  left: 53%;
  transform: translateX(-50%);
  width: 150px;
  height: 300px;
  background-image: url(../images/img-pattern.svg);
  background-repeat: repeat;
  z-index: -2;
}
.about .abs-img-2 {
  top: -40px;
  right: 10px;
  overflow: hidden;
}
.about .abs-img-2::before {
  inset: 0;
  background-image: url(../images/badge-2-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  animation: rotate360 15s linear infinite;
}

.w-100 {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
