.service{
  padding-inline: 16px;
}

.service__container--subtitle {
  position: relative;
  color: $gold-crayola;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .4em;
  margin-block-end: 12px;

  &::after {
    content: url(../images/separator.svg);
    display: block;
    width: 100px;
    margin-inline: auto;
    margin-block-start: 5px;
  }
}

.service__container--text{
  margin: 10px 0;
  padding: 15px;
}

.service__container--list--card{
  overflow: hidden;
  margin: 20px 0 30px;

  & .has-before{
    padding-block: 30px;
    margin-block-end: 26px;
    z-index: 1;

    &::before{
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 140px;
      height: 100%;
      background-image: url(../images/img-pattern.svg);
      background-position: center;
      background-size: cover;
      background-repeat: repeat;
      transition: 500ms ease;
      transition-delay: 0;
      z-index: -1;
      will-change: transform;
    }
  }

  .card__banner{
    transition: 500ms ease;
  }
}

.service__container--list--card:is(:hover, :focus-visible) .has-before::before{
  transform: rotateY(0.5turn) translateX(50%);
  transition-delay: 350ms;
}

.service__container--list--card:is(:hover, :focus-visible) .card__banner{
  transform: scale(1.05);
}

.service__container--title {
  font-family: $zeyada;
  text-transform: uppercase;
  letter-spacing: 0.1px;
  line-height: 35px;
  font-weight: 400;
}

.section{
  position: relative;
  padding-block: 70px;
  overflow: hidden;
  z-index: 1;
}

.bg-black-10{
  background-color: $smoky-black-2;
}

.grid-list{
  display: grid;
  gap: 40px;
}

.hover\:shine{
  position: relative;

  &::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to right, transparent 0%, #fff6 100%);
    transform: skewX(-0.08turn) translateX(-180%);
  }
}

.hover\:shine:is(:hover, :focus-within)::after{
  transform: skewX(-0.08turn) translateX(275%);
  transition: 1000ms ease;
}

.img__holder{
  aspect-ratio: 285px 336px;
  overflow: hidden;
  background-color: $eerie-black-4;
}

.btn__text{
  color: $gold-crayola;
  padding-block-end: 4px;
  margin-inline: auto;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 700;
  transition: 250ms ease;
  padding: 10px 0;

  &:is(:hover, :focus-visible){
    color: $white;
  }
}

.card__title a{
  font-family: $zeyada;
  text-transform: uppercase;
  margin: 15px;
  letter-spacing: 0.1px;
}
